:root {
  --weather-image: "";
  --backgrounc-color: #444549;
}

body {
  margin: 0;
  font-family: Consolas, monaco, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.enter-btn {
  text-decoration: none;
  position: absolute;
  right: 10px;
  text-align: center;
  color: white;
  width: 120px;
  height: auto;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.enter-btn:hover {
  color: aqua;
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #444549;
  flex-direction: column;
  align-items: center;
}

.project-name {
  margin: 150px 0px;
  color: aqua;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 70px;
}

.project-name h1 {
  font-family: monospace;
  color: aqua;
}

.main-page-inner-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  height: 50px;
  width: 600px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid grey;
  border-radius: 10px;
}

.main-weather-container {
  width: 100vw;
  height: 100vh;
  background: var(--backgrounc-color);
  /* background-image: url(); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 70vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.location-name {
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  height: 170px;
  width: 170px;
  border-radius: 10px;
  margin: 0 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-name {
  font-size: 20px;
  font-family: monospace;
  font-weight: 400;
  text-align: center;
  color: white;
}

.temps {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temps p {
  margin: 0px 10px;
}

.min-temp {
  color: rgba(255, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
}

.max-temp {
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
}

.chart-and-extra-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 70vw;
  border-radius: 10px;
  height: 50vh !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.extra-info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  margin-left: 50px;
  color: white;
  font-size: 20px;
}

input {
  width: 250px;
  height: 18px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  margin-left: 20px;
  outline: none;
  color: aqua;
  font-size: 15px;
  text-align: center;
}

label {
  color: white;
}

h1 {
  color: black;
}

#preview-1.active {
  border: 1px solid white;
}

#preview-2.active {
  border: 1px solid white;
}

#preview-3.active {
  border: 1px solid white;
}

#preview-4.active {
  border: 1px solid white;
}

#preview-5.active {
  border: 1px solid white;
}
